<div class="page">
  @if (carregando()) {
    <div class="loading"><mat-spinner diameter="32"></mat-spinner></div>
  } @else if (nota(); as n) {
    <mat-card class="nota-doc">
      <div class="doc-header">
        <div class="emitente">
          <span class="emitente-nome">{{ i18n.t('notaDetail.emitenteNome') }}</span>
          <span class="emitente-sub">{{ i18n.t('notaDetail.emitenteSub') }}</span>
        </div>

        <div class="doc-number-box">
          <span class="doc-tipo">{{ i18n.t('notaDetail.tipoDocumento') }}</span>
          <span class="doc-numero">{{ i18n.t('notaDetail.numeroPrefixo', { numero: formatarNumero(n.numero) }) }}</span>
          <mat-chip class="doc-status" [color]="n.status === 'Aberta' ? 'primary' : undefined" selected>
            {{ i18n.statusLabel(n.status) }}
          </mat-chip>
        </div>
      </div>

      <div class="doc-datas">
        <div>
          <span class="label">{{ i18n.t('notaDetail.dataAberturaLabel') }}</span>
          <span>{{ i18n.formatDate(n.dataAbertura) }}</span>
        </div>
        @if (n.dataFechamento) {
          <div>
            <span class="label">{{ i18n.t('notaDetail.dataFechamentoLabel') }}</span>
            <span>{{ i18n.formatDate(n.dataFechamento) }}</span>
          </div>
        }
      </div>

      <mat-card-content>
        @if (editando()) {
          <form [formGroup]="form" class="edit-itens-form">
            <div formArrayName="itens" class="itens">
              @for (item of itens.controls; track item; let i = $index) {
                <div [formGroupName]="i" class="item-row">
                  <mat-form-field appearance="outline" class="produto-field">
                    <mat-label>{{ i18n.t('campo.produto') }}</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="produtoBusca"
                      [matAutocomplete]="autoProduto"
                      [placeholder]="i18n.t('notaForm.produtoPlaceholder')"
                    />
                    <mat-autocomplete
                      #autoProduto="matAutocomplete"
                      [displayWith]="displayProduto"
                      (optionSelected)="onProdutoSelecionado(i, $event)"
                    >
                      @for (produto of produtosFiltrados(i); track produto.id) {
                        <mat-option [value]="produto">
                          {{
                            i18n.t('notaForm.produtoOpcao', {
                              codigo: produto.codigo,
                              descricao: produto.descricao,
                              saldo: produto.saldo
                            })
                          }}
                        </mat-option>
                      } @empty {
                        <mat-option disabled>{{ i18n.t('notaForm.nenhumProdutoEncontrado') }}</mat-option>
                      }
                    </mat-autocomplete>
                    <app-help-icon matSuffix [text]="i18n.t('notaForm.ajudaProdutoBusca')" />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="quantidade-field">
                    <mat-label>{{ i18n.t('campo.quantidade') }}</mat-label>
                    <input matInput type="number" formControlName="quantidade" min="1" placeholder="1" />
                    <app-help-icon matSuffix [text]="i18n.t('notaForm.ajudaQuantidade')" />
                  </mat-form-field>

                  <button
                    mat-icon-button
                    type="button"
                    (click)="removerItem(i)"
                    [disabled]="itens.length === 1"
                    [matTooltip]="i18n.t('notaForm.removerItem')"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              }
            </div>

            <button mat-stroked-button type="button" (click)="adicionarItem()">
              <mat-icon>add</mat-icon>
              {{ i18n.t('notaForm.adicionarProduto') }}
            </button>
          </form>
        } @else {
          <div class="table-scroll">
            <table class="doc-table">
              <thead>
                <tr>
                  <th class="col-codigo">{{ i18n.t('campo.codigo') }}</th>
                  <th class="col-descricao">{{ i18n.t('campo.descricao') }}</th>
                  <th class="col-quantidade">{{ i18n.t('campo.quantidade') }}</th>
                </tr>
              </thead>
              <tbody>
                @for (item of n.itens; track item.produtoId) {
                  <tr>
                    <td>{{ item.produtoCodigo }}</td>
                    <td>{{ descricaoDoProduto(item.produtoId) }}</td>
                    <td class="col-quantidade">{{ item.quantidade }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>

          <div class="doc-footer">
            <span>{{ i18n.t('notaDetail.totalItens', { total: n.itens.length }) }}</span>
            <span class="doc-disclaimer">{{ i18n.t('notaDetail.semValorFiscal') }}</span>
          </div>
        }

        @if (erroImpressao()) {
          <div class="erro-impressao">
            <mat-icon color="warn">error_outline</mat-icon>
            <span>{{ erroImpressao() }}</span>
          </div>
        }
      </mat-card-content>

      <mat-card-actions>
        <a mat-button routerLink="/notas-fiscais">{{ i18n.t('common.voltar') }}</a>
        <span class="spacer"></span>

        @if (editando()) {
          <button mat-button (click)="cancelarEdicao()" [disabled]="salvandoEdicao()">
            {{ i18n.t('common.cancelar') }}
          </button>
          <button mat-flat-button color="primary" (click)="salvarEdicao()" [disabled]="salvandoEdicao()">
            @if (salvandoEdicao()) {
              <mat-spinner diameter="18"></mat-spinner>
            } @else {
              {{ i18n.t('notaDetail.salvarItens') }}
            }
          </button>
        } @else {
          @if (n.status === 'Aberta') {
            <button mat-stroked-button (click)="iniciarEdicao()" [disabled]="imprimindo()">
              <mat-icon>edit</mat-icon>
              {{ i18n.t('notaDetail.editarItens') }}
            </button>
          }

          @if (n.status === 'Fechada') {
            <button mat-stroked-button (click)="baixarPdf(n)">
              <mat-icon>download</mat-icon>
              {{ i18n.t('notaDetail.baixarPdf') }}
            </button>
          }

          <button mat-flat-button color="primary" (click)="onImprimirClick()" [disabled]="imprimindo()">
            @if (imprimindo()) {
              <mat-spinner diameter="18"></mat-spinner>
              <span>{{ i18n.t('notaDetail.imprimindo') }}</span>
            } @else if (estoqueIndisponivel()) {
              {{ i18n.t('notaDetail.tentarNovamente') }}
            } @else if (n.status === 'Fechada') {
              {{ i18n.t('notaDetail.imprimirNovamente') }}
            } @else {
              {{ i18n.t('notaDetail.imprimir') }}
            }
          </button>
        }
      </mat-card-actions>
    </mat-card>
  }
</div>
